html *
{
	font-family: Arial, Helvetica, sans-serif, "Zawgyi-One", Uniburma !important;
}

.page
{
    width: 100%;
    background-color: white;
    margin: 1px auto 0px auto;
    border: 1px solid #496077;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: RGB(63,84,137);
    width: 100%;
	padding: 5px 0;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color:#3a4f63;
    width:100%;
}

div.menu
{
    padding: 4px 0px 4px 8px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #465c71;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    width: 100%;
    height: 85px;
    background-color: White;
    text-align: center;
    vertical-align: middle;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.TestStationCaption 
{
	background: rgb(63,84,137); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(63,84,137,1) 0%, rgba(25,57,138,1) 98%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(63,84,137,1)), color-stop(98%,rgba(25,57,138,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(63,84,137,1) 0%,rgba(25,57,138,1) 98%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(63,84,137,1) 0%,rgba(25,57,138,1) 98%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(63,84,137,1) 0%,rgba(25,57,138,1) 98%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(63,84,137,1) 0%,rgba(25,57,138,1) 98%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f5489', endColorstr='#19398a',GradientType=0 ); /* IE6-9 */
	color: white;
    font-size: 18pt;
    font-weight: bold;
	margin:inherit;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    width: 100%;
}

.TestStationNum 
{
    color: darkblue;
    font-size: 100pt;
    font-weight: bold;
	margin:inherit;
    text-align: center;
    width: 100%;
    position: absolute; 
    top: 42%;
}

.ButtonLanguage
{
    margin-top: 0;
    background-image: url(../images/btnBG.jpg);
    background-repeat: repeat;
    border: 1px solid #CCCCCC;
	padding-left:20px;
	padding-right:20px;
    font-size: 12pt;
    font-weight: bold;
    color: White;
    text-align: center;
    vertical-align:middle;
    height: 30px;
    min-width: 120px;
    border-radius: 8px;
    -moz-border-radius: 8px; 
    -webkit-border-radius: 8px; 
}

.ButtonLanguages
{
    margin-top: 0;
    background-image: url(../images/button_bg.png);
    background-repeat: repeat;
    border: 1px solid #CCCCCC;
	padding-left: 20px;
	padding-right: 20px;
    font-size: 18pt;
    font-weight: bold;
    color: White;
    text-align: center;
    vertical-align:middle;
    height: 50px;
    width: 220px;
    border-radius: 12px;
    -moz-border-radius: 12px; 
    -webkit-border-radius: 12px; 
}
.LanguageSelectionText
{
    font-size: 18pt;
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}

.dropdown
{
    font-size: 14px;
}

.scoreBox
{
    margin: 15px 0px 15px 0px;
    background-color: #3F5489;
    color: Yellow;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    border: 1px solid silver;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

.scoreText
{
    font-size: 12px; 
    font-weight: bold;
    font-style: italic;
    color: White;
}

.scorePad
{
    font-size: 12px;
    font-weight: bold;
    color: #CD5C5C;
}

.countdown
{
    font-size: 50px;
    font-weight: bold;
    border: 3px solid #33CC33;
    padding: 5px;
    background-color: Black;
    color: white;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

.LanguageLabel
{
    font-size: 12px;
}

.answerTable
{
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    padding: 5px;
    vertical-align: middle;
    border-radius: 12px; 
    -moz-border-radius: 12px; 
    -webkit-border-radius: 12px; 
}

.answerTable tr:hover { 
  font-size: 25px;
  font-weight: bold;
  color: #0194D3; 
} 
.questionLabel
{
    font-size: 16px;
    font-weight: bold;
}
.questionText
{
    font-size: 20px;
    font-weight: bold;
    color: green;
    line-height: 35px;	
}
.questionText:hover { 
  font-size: 25px;
  font-weight: bold;
  color: #0194D3; 
} 
.questionInst
{
    font-size: 16px;
    font-weight: normal;
	color:#777;
}
.questionNote
{
    font-size: 16px;
    font-weight: normal;
	color:#777;
    line-height: 1.3;
}
.questionNote:hover { 
  font-size: 25px;
  font-weight: bold;
  color: #777; 
} 
.questionNote strong
{
    font-weight: 800;
}

.questionSource { float: left; width: 100%; text-align: left; font-size: 14px; font-weight: bold; }

.answerLabel
{
    font-size: 14px;
    font-weight: bold;
}
.answerButton
{
    width: 80px;
    height: 80px;
    border: 0;
    color: White;
    background-image: url(../images/answer_bg.png)!important;
    /*background-position: center center;*/
    font-size: 25pt;
    font-weight: bold;
    text-indent: 5%;
    cursor: pointer!important;
	background:transparent;
	margin-right:10px
}
.answerButton:hover { 
  font-size: 25pt;
  font-weight: bold;
}
.answerTFButton
{
    width: 80px;
    height: 80px;
    border: 0;
    color: White;
    background-image: url(../images/answer_bg.png);
    background-position: center center;
    font-size: 22pt;
    font-weight: bold;
    text-indent: 5%;
    cursor: pointer;
}
.answerTFButton:hover { 
  font-size: 22pt;
  font-weight: bold;
  color: #0194D3; 
} 
.answerTable
{
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    padding: 5px;
    vertical-align: middle;
    border-radius: 12px; 
    -moz-border-radius: 12px; 
    -webkit-border-radius: 12px; 
}

.answerTable tr:hover { 
  font-size: 25px;
  font-weight: bold;
  color: #0194D3; 
} 
.answerText
{
    font-size: 14pt;
    font-weight: bold;
    text-align: left;
	vertical-align:middle !important;
    line-height:25px;
	
}

.answerText:hover, .answerText:focus {font-size:30px; line-height:45px;}
.videoPlayer { border: 5px inset darkgray; }

.sliderText
{
    font-size: 14px; 
    font-weight: bold;
    color: White;
}

.resultLabel
{
    font-size: 21px;
    font-weight: bold;
	line-height:32px;
	font-family:sans-serif
}

#volDown {background:url(../images/volume_down.png) no-repeat; width:40px; height:50px; float:left}
#volDown:hover {background:url(../images/volume_down-over.png) no-repeat; width:40px; height:50px; float:left}

#volUp {background:url(../images/volume_up.png) no-repeat; width:40px; height:50px; float:left}
#volUp:hover {background:url(../images/volume_up-over.png) no-repeat; width:40px; height:50px; float:left}

#pause {background:url(../images/pause.png) no-repeat; width:40px; height:50px; float:left}
#pause:hover {background:url(../images/pause-over.png) no-repeat; width:40px; height:50px; float:left}
#play {background:url(../images/play.png) no-repeat; width:40px; height:50px; float:left}
#play:hover {background:url(../images/play-over.png) no-repeat; width:40px; height:50px; float:left}

#mute {background:url(../images/mute.png) no-repeat; width:40px; height:50px; float:left}
#mute:hover {background:url(../images/mute-over.png) no-repeat; width:40px; height:50px; float:left}
#unmute {background:url(../images/speaker_on.png) no-repeat; width:44px; height:50px; float:left}
#unmute:hover {background:url(../images/speaker_on-over.png) no-repeat; width:44px; height:50px; float:left}

#replay {background:url(../images/replay.png) no-repeat; width:40px; height:50px; float:left}
#replay:hover {background:url(../images/replay-over.png) no-repeat; width:40px; height:50px;} 
/*#replayOver:hover {background-image:url(../Images/replay-over.png) !important; background-repeat:no-repeat; width:40px; height:50px}*/

.buttonRight {background:url(../images/buttonRight.png) no-repeat; width:40px; height:50px; float:left}
.buttonRight:hover {background:url(../images/buttonRight.png) no-repeat; width:40px; height:50px;}

.buttonMid {background:url(../images/buttonMid.png) repeat-x; height:50px; float:left; color:white; padding: 15px 0 0 10px; font-size:13px; font-family:sans-serif; text-transform:uppercase; letter-spacing:1px}
.buttonMid:hover {color:#ffc000;}

.authTable {
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    padding: 5px;
    vertical-align: middle;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
}
.authTable tr:hover {
    font-size: 25px;
    font-weight: bold;
    color: #0194D3;
}
.authTexts {
    font-size: 20px;
    font-weight: bold;
    float: left;
    font-family: sans-serif
}
.authButton
{
    background-image: url(../images/answer_bg.png)!important;
    color: White;
    font-size: 25pt;
    font-weight: bold;
    text-indent: 5%;
    cursor: pointer;
    border: 0;
    width: 80px;
    height: 80px;
	background: transparent;
}
.authButton:hover, .authButton:focus
{
    background-image: url(../images/answer_bg-over.png)!important;
}
.authChoice
{
    font-size: 18pt;
    font-weight: bold;
    padding: 1px 10px 10px 10px;
    width: 52px;
    height: 52px;
}
.authValue
{
    font-size: 22pt;
    font-weight: bold;
    text-align: left;
    padding: 22px 0 10px 0;
}

.kbTable
{
    width: 100%;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    border-radius: 8px;
    -moz-border-radius: 8px; 
    -webkit-border-radius: 8px; 
}

.kbField
{
    font-size: 14px;
    font-weight: bold;
    text-align: right;
    text-transform: capitalize;
}

.kbValue
{
    font-size: 18px;
    font-weight: bold;
}

.kbButtonSmall
{
    font-size: 20px;
    font-weight: bold;
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.kbButtonSmallPlus
{
    font-size: 20px;
    font-weight: bold;
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.kbButtonSmallDouble
{
    font-size: 20px;
    font-weight: bold;
    width: 160px;
    height: 80px;
    cursor: pointer;
}

.kbButtonMedium
{
    font-size: 20px;
    font-weight: bold;
    width: 96px;
    height: 70px;
    cursor: pointer;
}

.kbButtonMedPlus
{
    font-size: 20px;
    font-weight: bold;
    width: 285px;
    height: 70px;
    cursor: pointer;
}

.kbButtonLarge	
{
    font-size: 20px;
    font-weight: bold;
    width: 559px;
    height: 60px;
    cursor: pointer;
}

.helpTexts
{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.ProfileTable
{
   /* margin-left: 35%;*/
    font-size: 14px;
    width: 30%;
    padding: 5px;
    border-radius: 12px; 
    -moz-border-radius: 12px; 
    -webkit-border-radius: 12px; 
}

.TestGrid
{
    font-size: 18px;
    font-weight: bold;
}

/* PAGE SPECIFIC   
----------------------------------------------------------*/
.MessageText
{
    font-size:20px; 
    font-family:sans-serif; 
    line-height:35px;
    font-weight: bold;
    color: #093271;
	line-height: 70px;
	text-justify:auto;
}
.welcomeImage { border-radius: 12px; -moz-border-radius: 12px; -webkit-border-radius: 12px; border: 1px solid silver; float: left; vertical-align: top; width: 222px; margin-top: 5px; padding: 2px; }
.welcomeContent { float: left; vertical-align: top; text-align: center; width: 75%; margin: 5px 0 0 20px; font-size:20px; font-family:sans-serif; line-height:35px;font-weight: bold; color: #093271 }
.DisclaimerContent { text-align: left; }
.DisclaimerText
{
    font-size:20px; 
    font-family:sans-serif; 
    line-height:35px;
    font-weight: bold;
    color: #093271;
	line-height: 70px;
	text-justify:auto;
}
.div.PrefaceContent { position: relative; width: 100%; padding: 20px; text-align: center; }
.div.TestContent { position: relative; width: 100%; }
.div.TestTickerOuter { margin-top: 10px; position: relative; text-align: center; width: 100%; padding: 5px; }
.div.TestTickerInner 
{ 
    margin: 3px;
    position: absolute; 
    top: 15px; 
    left: 15px; 
    font-size: 12px;
    text-align: left; 
    background-color: White;
    border: 1px solid silver; 
    border-radius: 12px; 
    -moz-border-radius: 12px; 
    -webkit-border-radius: 12px; 
    }
.div.TestQNumber { float: left; width: 100%; text-align: left; }
.div.TestQDesc { float: left; width: 100%; margin: 0px 10px 10px 0px; vertical-align: top; text-align: left; }
.div.TestAnsBox { padding: 10px; }
.TestAnswerRect { float: left; vertical-align: top; width: 68%;}
.TestImageRect { float: right; vertical-align: top; width: 32%;}
.TestAudioPlayer { text-align: center; width: 100%; }
.TestVideoPlayer
{
    vertical-align: top;
    text-align: center;
    margin: 0 0 0 10px;

}
.ReviewText
{
    font-size: 18px;
    font-weight: bold;
}
.ReviewContent
{
    height: 550px;
    overflow: auto;
}

.ReviewQNum
{
    font-size: 14px;
    font-weight: bold;
    text-align: right;
    padding-right: 3px;
    width: 68px;
}
.ReviewQText
{
    font-size: 14px;
    font-weight: bold;
    padding: 3px;
}
.ReviewAnsSquare
{
    width: 20px;
}
.ReviewALabel
{
    margin-top: 5px;
    border: 1px solid silver; 
    border-radius: 5em; 
    -moz-border-radius: 5em; -webkit-border-radius: 5em; 

}
.ReviewAnsButton
{
    width: 33px;
    height: 33px;
    background-position: center center;
    background-repeat: no-repeat;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
.ReviewAnsTFButton
{
    width: 58px;
    height: 33px;
    background-position: center center;
    background-repeat: no-repeat;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
.ReviewAnsText
{
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
    padding: 5px;
    text-align: left;
}
.ResultStats { float: left; width: 45%; text-align: left; padding-right: 10px; }
.ResultStatsASL { float: left; width: 52%; text-align: center; padding-right: 10px; }
.ResultNoStats { font-size: 20px; font-weight: bold; }
.ResultFailMsg { font-size: 18px; font-weight: bold; color: blue; }
.AboutProduct { text-align: left; vertical-align: middle; width: 100%; }
.AboutContent 
{
    font-size: 16px;
    width: 100%;
    text-align: center;
    text-align: justify;
}
.footer { background-color: #006699; width: 100%; height: 28px; padding-top: 5px; }
.footer a:link { color:lime; text-decoration: none }
.footer a:visited { color: lime; }
.footer a:hover { text-decoration: none; color: #ff9900; font-weight:bold; }
.footer a:active { color: #ff0000; text-decoration: none; }

.copyRight 
{
	background: rgb(63,84,137); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(63,84,137,1) 0%, rgba(25,57,138,1) 98%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(63,84,137,1)), color-stop(98%,rgba(25,57,138,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(63,84,137,1) 0%,rgba(25,57,138,1) 98%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(63,84,137,1) 0%,rgba(25,57,138,1) 98%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(63,84,137,1) 0%,rgba(25,57,138,1) 98%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(63,84,137,1) 0%,rgba(25,57,138,1) 98%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f5489', endColorstr='#19398a',GradientType=0 ); /* IE6-9 */
	color: white;
    font-size: 10pt;
	margin-top:0px;
    padding-bottom: 8px;
    padding-top: 8px;
    text-align: center;
    width: 100%;
}

.ErrorMessage
{
    font-size: 14px;
    color: Red;
}

.ModalBackground {
	background-color: #666666;
	filter:alpha(opacity=70);
	opacity:0.5;
}

.ModalTestBG {
	background-color: #666666;
	filter:alpha(opacity=70);
	opacity:0.01;
}

.ModalWebCamBG {
    background-color: black;
    filter: alpha(opacity=70);
    opacity: 0.9;
}

.ModalDialog
{
    border: 1px solid darkgray;
    background-color: White;
    border-radius: 12px; 
    -moz-border-radius: 12px; 
    -webkit-border-radius: 12px; 
}

.ModalDialogCaption
{
      font-size: 12pt;
    font-weight: bold;
    color: white;
    width: 100%;
    text-align: left;
	background:url(../Images/pageCaption_BG.png) repeat-x;
	height:20px;
	padding:5px 0 0 0px;
	height:25px;
	vertical-align:middle;
	text-align:center;
    border-radius: 12px 12px 0px 0px; 
    -moz-border-radius: 12px 12px 0px 0px; 
    -webkit-border-radius: 12px 12px 0px 0px; 
}

.ModalDialogPrompt
{
    margin: 10px 5px 10px 5px;
    font-size: 18px;
    color: Black;
    text-align: center;
}

.ModalDialogButton
{
    margin: 10px 0 15px 10px;
    background-image: url(../images/button_bg.png);
    background-repeat: repeat;
    border: 1px solid #CCCCCC;
	padding-left: 20px;
	padding-right: 20px;
    font-size: 14pt;
    font-weight: bold;
    color: White;
    text-align: center;
    vertical-align:middle;
    height: 42px;
    min-width: 120px;
    border-radius: 12px;
    -moz-border-radius: 12px; 
    -webkit-border-radius: 12px; 
}

.SysErrTable
{
    margin: 0px;
    font-size: 12px;
    font-weight: normal;
    width: 100%;
    border: 1px solid silver; 
    padding: 0px;
    text-align: left;
    border-radius: 12px; 
    -moz-border-radius: 12px; 
    -webkit-border-radius: 12px; 
}

.DemographicInst {
    font-size: 16pt;
    font-weight: bold;
    color: Black;
}

.DemographicIntro
{
    font-size: 13pt;
    font-weight: bold;
    color: Maroon;
    text-align: left;   
}

.SectionHeader
{
    font-size: 12pt;
    font-weight: bold;
    text-decoration: underline;
    color: Blue;
}

.InputLabel
{
    font-size: 10pt;
    font-weight: bold;
    padding-right: 3px;
    height: 25px;
    text-align: right;
    vertical-align: top;
    padding-bottom: 5px;
}

.InputValue
{
    font-size: 12pt;
    height: 25px;
    text-align: left;
    padding-bottom: 5px;
}

.Validator
{
    font-size: 12px;
    font-weight: Normal;
    color:Red;
}

/* VERSION 9.0 */
.MediaPanel
{
    margin: 20px 0px 10px 0px;
    height: 55px;
    width: 100%;
    clear:both;
    color: White;
    font-size: 10pt;
	background: #ccc;
	border:solid 1px #767676;
	padding-top:10px;
	margin-bottom:20px;
	/* background-image: url(../images/media_bar.jpg);*/
   border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
	
}
.ProgressPanel
{
    margin: 20px 0px 10px 0px;
    height: 62px;
    width: 99%;
    background-image: url(../images/media_bar.jpg);
    color: White;
    font-size: 10pt;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
}
.ProgressField
{
    margin-top: 8px;
    height: 25px;
    width: 80px;
    background-image: url(../images/progress_bg.png);
    color: White;
    font-size: 12pt;
    font-weight: bold;
    border-radius: 7pt;
    -moz-border-radius: 7pt;
    -webkit-border-radius: 7pt;
}
.Button
{
    margin-top: 0;
    background-image: url(../images/button_bg.png);
    background-repeat: repeat;
    border: 1px solid #CCCCCC;
	padding-left: 20px;
	padding-right: 20px;
    font-size: 14pt;
    font-weight: bold;
    color: White;
    text-align: center;
    vertical-align:middle;
    height: 42px;
    min-width: 120px;
    border-radius: 12px;
    -moz-border-radius: 12px; 
    -webkit-border-radius: 12px; 
}

.ProfileLabel
{
    font-size: 10pt;
    font-weight: normal;
    padding-right: 3px;
    text-align: left;
    width: 220px;
	color:#777777;
	padding-bottom:7px;
	float:left;
}

.ProfileValue
{
    font-size: 10pt;
    font-weight: bold;
    padding-right: 3px;
	padding-bottom:7px;
    text-align: left;
	float:left;
}
.ProfileTitle
{
    margin-top: 0;
    /*background-image: url(../images/btnBG.jpg);*/
	background:#595959;
    background-repeat: repeat;
    border: 1px solid #CCCCCC;
    font-size: 11pt;
    font-weight: bold;
    color: White;
    text-align: center;
    vertical-align:middle;
    height: 25px;
}

.ProgressFieldPassedReq
{
     margin-top: 8px;
    height: 20px;
    width: 80px;
    background:#379802;
	border:solid 1px red;
    color: White;
	text-align:center;
    font-size: 12pt;
	padding-top:5px;
    font-weight: bold;
    border-radius: 5pt;
    -moz-border-radius: 5pt;
    -webkit-border-radius: 5pt;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa,direction=135,strength=10); 
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}

.ProgressFieldPassed
{
    margin-top: 8px;
    height: 20px;
    width: 80px;
    background:#379802;
    color: White;
	text-align:center;
    font-size: 12pt;
	padding-top:5px;
    font-weight: bold;
    border-radius: 5pt;
    -moz-border-radius: 5pt;
    -webkit-border-radius: 5pt;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa,direction=135,strength=10); 
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}

.ProgressFieldSkipped
{
    margin-top: 8px;
    height: 20px;
    width: 80px;
    background:#d4af00;
    color: White;
	text-align:center;
    font-size: 12pt;
	padding-top:5px;
    font-weight: bold;
    border-radius: 5pt;
    -moz-border-radius: 5pt;
    -webkit-border-radius: 5pt;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa,direction=135,strength=10); 
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}

.ProgressFieldFailed
{
    margin-top: 8px;
    height: 20px;
    width: 80px;
    background:#cc0000;
    color: White;
	text-align:center;
    font-size: 12pt;
	padding-top:5px;
    font-weight: bold;
    border-radius: 5pt;
    -moz-border-radius: 5pt;
    -webkit-border-radius: 5pt;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa,direction=135,strength=10); 
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}

.ProgressFieldTime
{
    margin-top: 8px;
    height: 20px;
    width: 80px;
    background:#fff;
    color: black;
	text-align:center;
    font-size: 12pt;
	padding-top:5px;
    font-weight: bold;
    border-radius: 5pt;
    -moz-border-radius: 5pt;
    -webkit-border-radius: 5pt;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa,direction=135,strength=10); 
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}

.txtProgress{ padding:0 10px; font-weight:bold; color:black; white-space:nowrap

}

.closebook {
        margin-top: 15px;
        margin-left: 18%;
        background-color: red;
	padding: 10px 10px 10px 10px;
	display: block;
	height:24px;
	float:left;	
	width: auto;
	text-align:center;
	font-size: 18pt;
        font-weight: bold;
        color: white;
        border-radius: 8px;
        -moz-border-radius: 8px; 
        -webkit-border-radius: 8px; 
}

.openbook {
        margin-top: 15px;
        margin-left: 18%;
        background-color: green;
	padding: 10px 10px 10px 10px;
	display: block;
	height:24px;
	float:left;	
	width: auto;
	text-align:center;
	font-size: 18pt;
        font-weight: bold;
        color: white;
        border-radius: 8px;
        -moz-border-radius: 8px; 
        -webkit-border-radius: 8px; 
}

.survey-container {
     margin-top: 20px;
     border: 5px solid #00bcf2;
     padding-bottom: 30px;
     padding-top: 30px;
     text-align: center;
}
.surveyInstText
{
    font-size: 18px;
    font-weight: bold;
    text-justify:auto;
}
.surveyQuestionText
{
    font-size: 22px;
    font-weight: bold;
}
.surveyQuestionText:hover { 
  font-size: 25px;
  font-weight: bold;
  color: #0194D3; 
} 
.surveyQuestionInst
{
    font-size: 16px;
    font-weight: normal;
	color:#777;
}

.surveyAnswerText
{
    margin: 5px;
    border-radius: 0;
    background: #5bc0de;
    font-size: 16pt;
    color: white;
    text-align: center;
	vertical-align:middle !important;
    min-height: 60px;
    min-width: 380px;
    white-space: pre-wrap;
}
.surveyAnswerText:hover, .answerText:focus {font-size:30px; font-weight: bold;}

.surveyAnswerButton
{
    width: 80px;
    height: 80px;
    border: 0;
    color: White;
    background-image: url(../images/answer_bg.png)!important;
    /*background-position: center center;*/
    font-size: 25pt;
    font-weight: bold;
    cursor: pointer!important;
	background:transparent;
	margin-right:10px
}
.surveyAnswerButton:hover { 
  font-size: 25pt;
  font-weight: bold;
}

.ImageSizeNormal { border: 5px inset darkgray; width: 300px; height: 300px; }
.ImageSizeMedium { border: 5px inset darkgray; width: 400px; height: 400px;}
.ImageSizeEnlarged { border: 5px inset darkgray; width: 600px; height: 600px; position: fixed; top: 11%; left: 50%; z-index: 100; } 
.PhotoSize { width: 38px; height: 50px; margin-top: -7px; margin-right: 130px; }
.MinorTestTaken {
    font-size: 12pt;
    font-weight: normal;
    color: black;
}
.PhotoWaitMsg {
    font-size: 12pt;
    width: 100%;
    text-align: center;
    color: blue;
}
